body {
    background-image: url("assets/background-img.png");
    background-position: 50%;
    margin: 0;
    min-width: 700px;
    text-align: center;
}

header {
    padding: 0;
    background-color: #1eff005e;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0em;
    font-size: 45px;
    font-family: "M PLUS Rounded 1c", "sans-serif";
}

a {
    text-decoration: none;
}

#img-box {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    height: 360px;
    width: 700px;
    background-color: #ffffff;
    vertical-align: top;
}

#img-box p {
    margin: 0;
    font-family: "M PLUS Rounded 1c", "sans-serif";
    line-height: 360px;
}

#time-meter{
    width: 10px;
    height: 100%;
    margin: 0;
    float: left;
}
article p {
    margin: 0;
    line-height: 25px;
}

article h2 {
    font-family: "M PLUS Rounded 1c", "sans-serif";
    margin: 10px 0 0 0;
    line-height: 35px;
}